# Numpy and Pandas

In [71]:
import pandas as pd
import numpy as np

In [ ]:
print("hello")

## Numpy

### Varför numpy

- Numpy är skrivet i C
- Python är en dynamiskt typad språk interpertat språk - dvs otroligt långsamt
- C är ett statiskt typat kompilerat språk - dvs otroligt snabbt

Numpy arrayer kan endast ha en datatyp

In [ ]:
lst = list([1, 2, 3, 4, "Hej"])
print(lst)

arr = np.array(lst)
print(arr)

arr = np.array([1, 2, 3, 4], dtype=np.int8)
print(arr)
arr.dtype

Det finns inbyggda funktioner för att skapa arrayer
De kan också vara och är oftast multidimensionella

In [ ]:
range_array = np.arange(1, 43).reshape(2, 21)
print(range_array)
ones_array = np.ones((9, 3), dtype=np.int64) 
print(ones_array)
print(ones_array.shape)
ones_array = ones_array.reshape((3,9))
ones_array

In [ ]:
ones_array[0] = 0
ones_array[1] = 1
ones_array[2] = 2
print(ones_array[:2])
print(ones_array[1:])
print(ones_array[1:,1:4 ])
print(ones_array[:,1:4 ])

ones_array

Det finns inbyggda metoder för att gör beräkningar på arrayer

In [ ]:
print(range_array[0].prod())
print(range_array.max())
print(range_array.min())
print(range_array.sum(axis=0))
print(range_array.cumprod())
range_array

Numpy har några inbyggda konstanter som vi kan nyttja, exempelvis

In [ ]:
np.pi
np.nan
np.Infinity

Vi kan iterera över en array

In [ ]:
for thing in range_array:
    print(thing)

for thing in np.nditer(range_array):
    print(thing)

range_array += 10
range_array

## Pandas

### Varför pandas

- Pandas är byggt på numpy och är skrivet i C, dvs snabbt
- Pandas är en dataanalysbibliotek, lätt att läsa in
- Lätt att ha strukturerad data

I pandas jobbar vi med dataframes on series oftast

In [87]:
my_data_dict = {
    "person": ["Anton", "Anton", "John", "Sven", "Pei", "Lisa", "Ann"],
    "age": [31, 12, 56, 1, 33, 37, 98]
}
df_from_dict = pd.DataFrame(my_data_dict)
df_from_dict

  person  age
0  Anton   31
1  Anton   12
2   John   56
3   Sven    1
4    Pei   33
5   Lisa   37
6    Ann   98

In [82]:
df_from_dict.iloc[0]
df_from_dict["age"]
df_from_dict["person"]
df_from_dict["person"][:5]
df_from_dict.iloc[0]["person"]

'Anton'

In [88]:
people = df_from_dict["person"]
people.name
people.size
people.hasnans
people.value_counts()

Anton    2
John     1
Sven     1
Pei      1
Lisa     1
Ann      1
Name: person, dtype: int64

Pandas är bra för import av data från filer

In [89]:
df = pd.read_csv("data.csvt")
df

,dok_id,dok_rm,dok_nummer,dok_datum,avsnittsrubrik,kammaraktivitet,anforande_nummer,talare,parti,anforandetext,intressent_id,rel_dok_id,replik
0,HA091,2022/23,1,2022-09-26 00:00:00,Hälsningsanförande från ålderspresidenten,NaN,1,Carina Ohlsson (S),S,Ärade riksdagsledamöter! Mina damer och herra...,8.599683e+11,NaN,N
1,HA091,2022/23,1,2022-09-26 00:00:00,Val av förste vice talman,NaN,10,Gunilla Carlsson (S),S,Fru ålderspresident! Jag vill å den socialdem...,8.752213e+11,NaN,N
2,HA091,2022/23,1,2022-09-26 00:00:00,Val av förste vice talman,NaN,11,Annie Lööf (C),C,Fru ålderspresident och ärade ledamöter av Sv...,8.628683e+11,NaN,N
3,HA091,2022/23,1,2022-09-26 00:00:00,Val av andre vice talman,NaN,12,Henrik Vinge (SD),SD,Fru ålderspresident! Jag vill börja med att g...,4.068319e+11,NaN,N
4,HA091,2022/23,1,2022-09-26 00:00:00,Val av andre vice talman,NaN,13,Annika Hirvonen (MP),MP,Fru ålderspresident! När vetskapen om Moderat...,8.196016e+11,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3891,HA099,2022/23,9,2022-10-17 00:00:00,Prövning av förslag till statsminister,NaN,5,Per Bolund (MP),MP,Herr talman! Ärade ledamöter! Sverige är ett ...,9.564443e+11,NaN,N
3892,HA099,2022/23,9,2022-10-17 00:00:00,Prövning av förslag till statsminister,NaN,6,Annie Lööf (C),C,STYLEREF Kantrubrik \* MERGEFORMAT Prövning ...,8.628683e+11,NaN,N
3893,HA099,2022/23,9,2022-10-17 00:00:00,Prövning av förslag till statsminister,NaN,7,Jimmie Åkesson (SD),SD,Herr talman! Det är inte vi här inne i riksda...,5.120752e+10,NaN,N
3894,HA099,2022/23,9,2022-10-17 00:00:00,Prövning av förslag till statsminister,NaN,8,Ebba Busch (KD),KD,STYLEREF Kantrubrik \* MERGEFORMAT Prövning ...,5.125107e+11,NaN,N
3895,HA099,2022/23,9,2022-10-17 00:00:00,Prövning av förslag till statsminister,NaN,9,Nooshi Dadgostar (V),V,Herr talman! Sverige kan vara på väg in i en ...,7.215098e+11,NaN,N

In [105]:
df.shape
filtered_df = df.filter(["talare", "parti", "dok_nummer"])
filtered_df["dok_nummer"].max()
filtered_df["dok_nummer"].min()
filtered_df["dok_nummer"].cumprod()
filtered_df["talare"].value_counts()
filtered_df = filtered_df.drop(["dok_nummer"], axis=1)
filtered_df = filtered_df.drop(0, axis=0)
filtered_df

                            talare parti
1             Gunilla Carlsson (S)     S
2                   Annie Lööf (C)     C
3                Henrik Vinge (SD)    SD
4             Annika Hirvonen (MP)    MP
5     SAMUEL GONZALEZ WESTLING (V)     V
...                            ...   ...
3891               Per Bolund (MP)    MP
3892                Annie Lööf (C)     C
3893           Jimmie Åkesson (SD)    SD
3894               Ebba Busch (KD)    KD
3895          Nooshi Dadgostar (V)     V

[3895 rows x 2 columns]

Vi kan importera json, antingen från respone i api eller från fil

In [111]:
import requests

res = requests.get("http://127.0.0.1:8000/todos")
if not res.status_code == 200:
    print("HTTP error bruh")

df_from_json_res = pd.read_json(res.text)
df_from_json_res

,id,title,description
0,1,Do this,Dont do that when doing this
1,2,Wake up,Wake up from coma
2,3,Wiggle toes,Find weird sexist truck to wiggle toes in
3,4,Find katana,I heard Hattori Hanzo is the guy to see
4,5,Decapitate japanese yakuza boss,The katana will come in handy here
5,6,Kill Bill,"Use the weird death punch i learned about, som..."

In [109]:
df_from_json_file = pd.read_json("../lesson11/seed.json")
df_from_json_file

,title,description
0,Wake up,Wake up from coma
1,Wiggle toes,Find weird sexist truck to wiggle toes in
2,Find katana,I heard Hattori Hanzo is the guy to see
3,Decapitate japanese yakuza boss,The katana will come in handy here
4,Kill Bill,"Use the weird death punch i learned about, som..."